<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>QuickTickets Dashboard</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>${productionMode}</param-value>
	</context-param>
	<context-param>
		<description>Vaadin d3 URL</description>
		<param-name>WebURL</param-name>
		<param-value>http://localhost:8080</param-value>
	</context-param>
	<context-param>
		<description>set the max java heapspace for the analysis</description>
		<param-name>java-xmx</param-name>
		<param-value>10G</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<!-- <resource-ref> <res-ref-name>jdbc/sqlite</res-ref-name> <res-type>javax.sql.DataSource</res-type> 
		<res-auth>Container</res-auth> </resource-ref> <servlet> <servlet-name>UcWebManagerServlet</servlet-name> 
		<servlet-class>de.tum.in.i22.ucwebmanager.UcWebManagerServlet</servlet-class> 
		<init-param> <param-name>UI</param-name> <param-value>de.tum.in.i22.ucwebmanager.UcWebManagerUI</param-value> 
		</init-param> </servlet> <servlet-mapping> <servlet-name>UcWebManagerServlet</servlet-name> 
		<url-pattern>/</url-pattern> </servlet-mapping> -->
</web-app>