#
#Fri Feb 24 09:03:28 CET 2017
WHITELIST=C\:\\Users\\Administrator\\Documents\\InfoFlow\\pdp\\Gui\\UcWebManager\\src\\main\\webapp\\apps\\fa23ea3d74ecdb95c3ce42107e5316c3\\instrumentations\\20170216162842/whitelist.list
PMP_PORT=40012
ANALYSIS_REPORT=C\:\\Users\\Administrator\\Documents\\InfoFlow\\pdp\\Gui\\UcWebManager\\src\\main\\webapp\\apps\\fa23ea3d74ecdb95c3ce42107e5316c3\\joana-output\\20170216162842\\report.xml
PDP_ASYNCOM=false
PDP_PORT=21003
UC_PROPERTIES=
LOGCHOPNODES=true
PMP_HOST=localhost
PDP_HOST=localhost
INSTRUMENTED_CLASS_PATH=
UC4WIN_AUTOSTART=
STATISTICS=
TIMER_T5=false
ENFORCEMENT=false
TIMER_T4=false
TIMER_T3=false
UCWEBMGMURL=http\://localhost\:8080/rest
TIMER_T2=false
IFT=true
TIMER_T1=false
TIMERMETHODS={"methods"\:[]}
APPID=fa23ea3d74ecdb95c3ce42107e5316c3
PIP_PORT=21002
NETCOM=true
INSTRUMENTATION=true
MYPEP_PORT=9091
PIP_HOST=localhost
BLACKLIST=C\:\\Users\\Administrator\\Documents\\InfoFlow\\pdp\\Gui\\UcWebManager\\src\\main\\webapp\\apps\\fa23ea3d74ecdb95c3ce42107e5316c3\\instrumentations\\20170216162842/blacklist.list
MYPEP_HOST=localhost
